<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" >
        <div class="table ">
          <ul  id="horizontal-list" class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="" class="nav-link" >HOME</a>
            </li>
            <li class="nav-item active">
              <a href="" class="nav-link" >ABOUT US</a>
            </li>
            <li class="nav-item active">
              <a href="" class="nav-link">CONTACT</a>
            </li>
           </ul>
        </div>
      
      </div>
</nav>



      <div class="left-half">
        <mat-card>
        <mat-card-content >
            <span class="login100-form-title p-b-49">
                Change Password
            </span>  

            <form (ngSubmit)="onSubmit()" name="changepassForm" [formGroup]="changepassForm">
               
                

                  <div class="emailInput">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Old Password</mat-label>
                      
                      <input formControlName="password" matInput type=" hide ? 'password' : 'text'" required placeholder="Old Password">
                      <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>
                          {{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                      </button>
                  <mat-error *ngIf="!changepassForm.controls['password'].valid">
                      Password is required
                    </mat-error> 
                  </mat-form-field>
                    </div>
                    
                    <div class="emailInput">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>New Password</mat-label>
                          
                          <input formControlName="newpassword" matInput type=" hide ? 'newpassword' : 'text'" required placeholder="New Password">
                          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                          [attr.aria-pressed]="hide">
                          <mat-icon>
                              {{hide ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                          </button>
                          <!-- <mat-error *ngIf="checkError('newpassword', 'required')">New Password is required</mat-error>
                          <mat-error *ngIf="checkError('newpassword', 'minlength')">Password entry does not meet criteria</mat-error> -->
                          
                          <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('required')">New Password is required</mat-error>
                          <!-- <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('minlength')">Password entry does not meet criteria</mat-error> -->
                          <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('pattern')">Password entry does not meet criteria</mat-error>

                          
                          <!-- <mat-error *ngIf="!changepassForm.controls['newpassword'].valid">
                            Password is required
                          </mat-error>   -->
                          
                          <!-- <mat-error *ngIf="changepassForm.get('newpassword').hasError('minlength')">
                            First Name should be atleast 6 characters long!
                          </mat-error>  -->
                          
                          <!-- <div [hidden]="!newpassword.errors.minlength">
                            Min Length is 10
                          </div> -->
                          <!-- <div *ngIf="newpassword.errors && changepassForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                            <div *ngIf="newpassword.errors.minlength">
                               Name must be at least 5 characters long.
                            </div>
                         </div> -->


                          <!-- <div class="err" *ngIf="submitted && f.newpassword.errors">
                               <div *ngIf="!changepassForm.controls['newpassword'].valid">
                                Password is required
                               </div> 
                                <div *ngIf="f.newpassword.errors.minlength">
                                   Password at least 6 character
                                </div> 
                          </div> -->
                         
                      </mat-form-field>
                    </div>

                    
                    <div class="emailInput">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Confirm New Password</mat-label>
                          
                          <input formControlName="confirmnewpassword"  matInput type=" hide ? 'confirmnewpassword' : 'text'" required placeholder="Confirm New Password">
                          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                          [attr.aria-pressed]="hide">
                          <mat-icon>
                              {{hide ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                          </button>
                         <!-- <mat-error *ngIf="!changepassForm.controls['confirmnewpassword'].valid">
                          Password is required
                        </mat-error>  -->
                        <!-- <mat-error *ngIf="changepassForm.controls['confirmnewpassword'].hasError('required')">Confirm Password is required</mat-error> -->
                        <!-- <mat-error *ngIf="changepassForm.controls['confirmnewpassword'].touched">
                          Password is required
                        </mat-error>  -->
                        <mat-error *ngIf="changepassForm.controls['confirmnewpassword'].hasError('MustMatch')">Password Must Match</mat-error>
                         
                      </mat-form-field>
                    </div>


                  <div class="example-button-row">
                    <button  [disabled]="!changepassForm.valid" mat-flat-button color="primary">Submit</button>
                  </div>
                
            </form>
           



        </mat-card-content>
        </mat-card>
 </div>